// 根据设计规范制定： https://c44s9q.axshare.com/#id=dzmmk9&p=%E8%AE%BE%E8%AE%A1%E8%A7%84%E8%8C%83&g=1

.font_main-title{

}

.font_title {
  font-weight: bold;
  color: #303133;
  font-size: 16px;
}


.font_paragraph{

}

.font_tips{
    
}


.font_sub-paragraph{

}

.font_supplementary{

}